* {
    text-align: center;
}

h1 {
    background-color: black;
    color: white;
    padding: 3rem;
    margin: 0px 0px 0rem;;
    font-weight: 700;
    font-size: 2.5rem;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    /* background-color: grey; */
}
label {
    font-size: 1.3rem;
}
button {
    font-size: 0.9rem;
    border-radius: 5px;
}
button:hover {
    border: 2px solid skyblue;
}
#search {
    /* width: 20%; */
    background-color: lightyellow;
    border-radius: 2px;
}
select {
    width: 20%;
    /* background-color: lightyellow; */
    font-size: 0.9rem;
    border-radius: 2px;
}

.search-contaier {
    padding: 0.5rem;
    background-color: grey;
}
.filter-bar {
    padding: 0.5rem;
    background-color:lightgrey;
}
